@tailwind base;
@tailwind components;
@tailwind utilities;

/* - - -- - - -- - ⌨- -- - - - - */
@keyframes tooltip-show {
  0% {
    opacity: 0;
  }
  5% {
    visibility: visible;
  }
  25% {
    opacity: 50;
  }
  50% {
    opacity: 75;
  }
  100% {
    opacity: 100;
  }
}

.group:hover .xgroup-hover\:visible {
  animation-delay: 2s;
  animation-name: tooltip-show;
  animation-duration: 5s;
}

.swing:hover {
  animation-name: swing;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

/* - -- - - -- - - -🔑*/
.code {
  white-space: pre-line;
}
